
.cluster-marker {
  color: #fff;
  background: var(--color-principal);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transport-marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.transport img {
  width: 25px;
}

.progress-bar {
    background-color: var(--color-secundary);
    height: 15px;
    padding: 3px;
    width: 60px;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
  }
  


  .shine span {
    position: relative;
  }
  
  .shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-secundary);
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
  }
  
  @keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
  }
  
  
 